*{
    box-sizing: border-box;
}
body{
    background-color: pink;
    color: white
  }
  mg{
    float:right;
    max-width:760px;







  @media screen and (max-width: 480px){
    body{
        background-color: purple;
        color: white
    }
  }
  @media screen and (max-width: 320px){
    body{
        background-color: magenta;
        Color: black
    }
  }